.slide {
  transition-duration: 1s;
  opacity: 1;
}

.slide_active{
  opacity: 1;
  transition-duration: 1s;
}

.window {
  display: flex;
  background-color: #d2d2d2;
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 15%;
  right: 15%;
  box-sizing: 100%;
  height: 150%;
  width: 70%;
  border-radius: 8px;
}

.info {
  display: flex;
}

.right {
  cursor: pointer;
  color: #000000;
  top: 30%;
  position: absolute;
  right: 40px;
}

.left {
  cursor: pointer;
  color: #000000;
  top: 30%;
  left: 40px;
  position: absolute;
}
